[core]
	autocrlf = input
	safecrlf = true
	excludesfile = /home/philip/.git_global.gitignore
	editor = vim

[merge]
	tool = kdiff3
	confictStyle = diff3

[mergetool "splice"]
	cmd = "gvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true

[mergetool "ediff"]
  cmd = emacsclient -c -a \"\"  --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"

[mergetool "kdiff3"]
    keepBackup = false
    trustExitCode = false

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	unadd = reset HEAD

        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

	# Remove submodule
	rms = "!f(){ git rm --cached \"$1\";rm -r \"$1\";git config -f .gitmodules --remove-section \"submodule.$1\";git config -f .git/config --remove-section \"submodule.$1\";git add .gitmodules; }; f"
	showtrackedignored = ls-files -i --exclude-standard

[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto

[credential]
	helper = gnome-keyring
[diff]
	tool = gvimdiff
[push]
	default = simple
[pull]
	rebase = true
[github]
	user = Profpatsch
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
