[user]
	name = Profpatsch
	email = mail@profpatsch.de
	signingkey = 0x22247CDF

[core]
	autocrlf = input
	safecrlf = true
	excludesfile = /home/philip/.git_global.gitignore
	editor = vim

[merge]
	tool = splice

[mergetool "splice"]
	cmd = "gvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	unadd = reset HEAD

        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

	# Remove submodule
	rms = "!f(){ git rm --cached \"$1\";rm -r \"$1\";git config -f .gitmodules --remove-section \"submodule.$1\";git config -f .git/config --remove-section \"submodule.$1\";git add .gitmodules; }; f"

[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto

[credential]
	helper = gnome-keyring
[diff]
	tool = gvimdiff
[push]
	default = simple
