*.pyc
*.tmp

.Mail
.Skype
.adobe
.aurvote.cookie
.bash_history
.bazaar
.cabal
.cache

.config/Clementine
.config/audacious
.config/aurvote
.config/backintime/
.config/chromium/
.config/dconf
.config/enchant
.config/eog
.config/evolution
.config/evince/print-settings
.config/gmpc/
!.config/gmpc/gmpc.cfg
.config/gtk-2.0/
.config/gtk-3.0/
.config/menus/
.config/inkscape
.config/ipython/
.config/libreoffice
.config/lottanzb
.config/pavucontrol.ini
.config/pulse
.config/sonata
.config/Skype
.config/Tomahawk/
.config/Kitware/
.config/Pinta/
.config/mono.addins
.config/performous
.config/
.config/transmission
.config/Trolltech.conf
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc
.config/xfce4

.npm
.subversion
.p7zip
.tgdb/
.unison/
.ultrastardx/
.XCompose
.audacity-data/
.cgdb/readline_history.txt
.builds/
.dropbox
.easytag
!.easytag/easytagrc
.elinks
.esd_auth
.filezilla
.gconf
.ghc
.gimp-2.8
.gjay
.gnupg
.gksu.lock
.gstreamer-0.10
.gtkrc-2.0*
.gtk-bookmarks
.i3/i3log
.lesshst
.logs
.local/share
.macromedia
.mpd
.mpdscribble
.msmtprc
.mutt/accounts
!.mutt/accounts/sample_account.muttrc
.mutt/alias
.mutt/cache
.mutt/mailinglists.muttrc
.mutt/sig
.mutt/temp
.ncmpcpp
.offlineimaprc
.offlineimap/Account-*
.offlineimap/Repository-*
.offlineimap/pid
.offlineimap/.new_mail
.pki
.purple
.putty
.quodlibet
.recently-used
.ropeproject
.sabnzbd
.sabnzbd.ini
.shutter
.ssh
.thumbnails
.thunderbird
.todo
.vim/doc
.vim/bundle
.vim/bundle/snipmate/
!.vim/bundle/snipmate/snippets/
.vim/.VimballRecord
.vim/.gitmodules
.vim/after/ftp
.viminfo
.vim/.netrwhist
.notmuch-config
.weechat
.Xauthority
.Xdbus
.zcompdump
.zdirs
.zsh_history
.zshrc
Desktop
Documents
Downloads
Music
Pictures
Videos
code
