[user]
	name = Profpatsch
	email = mail@profpatsch.de
	signingkey = 0x22247CDF

[core]
	autocrlf = input
	safecrlf = true

[merge]
    tool = meld 

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	unadd = reset HEAD

        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto

[credential]
	helper = cache
