# Environment variables
MAIL=/home/philip/.Mail
DISPLAY=:0.0

#   minute (0-59),
#   |   hour (0-23),
#   |   |   day of the month (1-31),
#   |   |   |   month of the year (1-12),
#   |   |   |   |   day of the week (0-6 with 0=Sunday).
#   |   |   |   |   |   commands

# Update mail, quick every 5min and slow with maildir backup every hour.
ACCOUNTS="Privat Mail Derpymail EQP_Profpatsch"
    */5 *   *   *   *   ~/.offlineimap/run_offlineimap.sh -q -c "$ACCOUNTS" &>> ~/.logs/offlineimap.log
    3   *   *   *   *   ~/.offlineimap/run_offlineimap.sh -b2 -c "$ACCOUNTS" &>> ~/.logs/offlineimap.log
# Update mailindex every hour
    4   *   *   *   *   notmuch new &>> ~/.logs/notmuch.log

# Do a full backup (depending on the ¿fullness¿ of the script.
    5   */3 *   *   *   ~/scripts/full_backup.sh &>> ~/.logs/backup.log

# Spin those b*tches.
@ 1d     logrotate -v --state ~/.logs/logrotate.state ~/.logrotate.conf &>> ~/.logs/logrotate.log

