#   minute (0-59),
#   |   hour (0-23),
#   |   |   day of the month (1-31),
#   |   |   |   month of the year (1-12),
#   |   |   |   |   day of the week (0-6 with 0=Sunday).
#   |   |   |   |   |   commands

# Update mail, quick every 5min and slow with maildir backup every hour.
    */5 *   *   *   *   ~/.offlineimap/run_offlineimap.sh -q
@ 1h 			~/.offlineimap/run_offlineimap.sh -b2


#Back In Time system entry, this will be edited by the gui:
*/10 * * * * nice -n 19 ionice -c2 -n7 /usr/bin/backintime  --backup-job >/dev/null 2>&1
